{{#each site in controller}}
  <div>
    {{#linkTo "sites.site" site}}<image {{bindAttr src="site.favicon_url"}}>{{/linkTo}}
    {{#linkTo "sites.site" site}}{{site.name}}{{/linkTo}}
  </div>
{{else}}
  <div>No sites found</div>
{{/each}}
