<div>sites/index.hbs</div>

{{#each site in controller}}
  <div>
    {{#linkTo "sites.site" site}}<image {{bindAttr src="site.faviconUrl"}}>{{/linkTo}}
    {{#linkTo "sites.site" site}}{{site.name}}{{/linkTo}}
  </div>
{{else}}
  <div>No sites found</div>
{{/each}}
